In [5]:
import csv
import random
import pandas as pd

In [2]:
base_true_data = {
    0.2: 2.5284867, 0.4: 2.749594, 0.6000000000000001: 2.1379437, 0.8: 1.7823929, 
    1.0: 1.6482912, 1.2000000000000002: 5.0864453, 1.4000000000000001: 14.992984, 
    1.6: 16.431183, 1.8: 16.039757, 2.0: 16.063456, 2.2: 12.145712, 
    2.4000000000000004: 1.3173454, 2.6: -1.07616, 2.8000000000000003: -0.4528833, 
    3.0: 0.51127344, 3.2: 13.553554, 3.4000000000000004: 19.458012, 
    3.6: 18.421278, 3.8000000000000003: 22.45929, 4.0: 22.07545, 
    4.2: 22.521818, 4.4: 23.279245, 4.6000000000000005: 21.392345, 
    4.800000000000001: 19.092186, 5.0: 14.48045, 5.2: -4.107289
}

base_false_data = {
  0.2: 1.001, 0.4: 2.001, 0.6000000000000001: 2.001, 0.8: -1.001,
  1.0: 1.001, 1.2000000000000002: 0.001, 1.4000000000000001: 0.001,
  1.6: 2.001, 1.8: 3.001, 2.0: 6.001, 2.2: 2.001, 2.4000000000000004: 1.001,
  2.6: -0.001, 2.8000000000000003: -0.001, 3.0: 1.001, 3.2: -2.001,
  3.4000000000000004: -3.001, 3.6: -3.001, 3.8000000000000003: -2.001,
  4.0: -1.001, 4.2: 0.001, 4.4: 1.001, 4.6000000000000005: 2.001,
  4.800000000000001: 2.001, 5.0: 1.001, 5.2: -0.0019
}

In [3]:
def generate_variation(base_data, variation_range=0.2):
    return {key: value + random.uniform(-variation_range, variation_range) for key, value in base_data.items()}

def generate_dataset(base_data, num_datasets=20000):
    datasets = []
    for _ in range(num_datasets):
        datasets.append(generate_variation(base_data))
    return datasets

def save_dataset_to_file(base_data, datasets, filename):
    fieldnames = sorted(base_data.keys())
    with open(filename, 'w', newline='') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()

        for dataset in datasets:
            writer.writerow(dataset)

In [8]:
true_dataset = generate_dataset(base_true_data, 20000)
save_dataset_to_file(base_true_data, true_dataset, "../../dataset/true_yaw_pattern_dataset.csv")

false_dataset = generate_dataset(base_false_data, 20000)
save_dataset_to_file(base_false_data, false_dataset, "../../dataset/false_yaw_pattern_dataset.csv")

In [9]:
true_df = pd.read_csv('../../dataset/true_yaw_pattern_dataset.csv')
false_df = pd.read_csv('../../dataset/false_yaw_pattern_dataset.csv')

true_df['label'] = 1
false_df['label'] = 0

combined_df = pd.concat([true_df, false_df])

combined_df = combined_df.sample(frac=1).reset_index(drop=True)

combined_df.to_csv('../../dataset/combined.csv', index=False)

In [11]:
combined = pd.read_csv('../../dataset/combined.csv')
combined.head()

,0.2,0.4,0.6000000000000001,0.8,1.0,1.2000000000000002,1.4000000000000001,1.6,1.8,2.0,...,3.6,3.8000000000000003,4.0,4.2,4.4,4.6000000000000005,4.800000000000001,5.0,5.2,label
0,0.936487,1.959196,2.050969,-0.879011,1.099925,0.140217,0.146363,1.908480,3.130873,6.170235,...,-2.880308,-2.038929,-1.142619,0.167722,1.140447,2.111510,1.948129,1.006384,-0.035267,0
1,1.196970,2.137579,1.843405,-1.021375,1.073979,0.014257,0.079856,2.117396,2.806869,6.187550,...,-2.997776,-1.840770,-0.995558,-0.025252,1.125565,2.105490,2.054389,0.860676,0.021946,0
2,2.518457,2.589942,1.964050,1.687038,1.613548,4.930326,15.139908,16.569461,16.063606,16.016867,...,18.250928,22.439910,22.226051,22.365419,23.408079,21.414580,19.121561,14.300815,-4.212480,1
3,2.407996,2.761661,2.035826,1.658418,1.494124,5.096730,15.126809,16.258819,15.962365,16.120136,...,18.517446,22.300724,22.203463,22.330447,23.433191,21.236754,18.983740,14.668344,-4.299301,1
4,0.982845,1.809657,1.845846,-1.068434,1.064074,-0.119493,0.114829,2.141460,2.883422,5.922226,...,-2.842292,-2.119464,-0.877878,-0.023620,0.811782,2.174802,1.955705,1.195735,-0.167914,0